USE [master]
GO
/****** Object:  Database [CCC]    Script Date: 5/21/2023 10:12:20 PM ******/
CREATE DATABASE [CCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CCC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CCC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CCC]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 5/21/2023 10:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SetId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Number] [int] NULL,
	[Rarity] [varchar](50) NULL,
	[Edition] [varchar](50) NULL,
	[ImageURL] [varchar](max) NULL,
	[HoloId] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holos]    Script Date: 5/21/2023 10:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Holos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 5/21/2023 10:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sets]    Script Date: 5/21/2023 10:12:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Language] [varchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_Sets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([Id], [SetId], [Name], [Number], [Rarity], [Edition], [ImageURL], [HoloId]) VALUES (4, 1, N'Alakazam', 1, N'Rare', N'1st', N'https://product-images.tcgplayer.com/106996.jpg', 2)
INSERT [dbo].[Cards] ([Id], [SetId], [Name], [Number], [Rarity], [Edition], [ImageURL], [HoloId]) VALUES (5, 1, N'Blastoise', 2, N'Rare', N'1st', N'https://product-images.tcgplayer.com/106997.jpg', 2)
INSERT [dbo].[Cards] ([Id], [SetId], [Name], [Number], [Rarity], [Edition], [ImageURL], [HoloId]) VALUES (6, 1, N'Chansey', 3, N'Rare', N'1st', N'https://product-images.tcgplayer.com/106998.jpg', 2)
GO
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
SET IDENTITY_INSERT [dbo].[Holos] ON 

INSERT [dbo].[Holos] ([Id], [Value]) VALUES (1, N'Non-Holo')
INSERT [dbo].[Holos] ([Id], [Value]) VALUES (2, N'Holo')
INSERT [dbo].[Holos] ([Id], [Value]) VALUES (3, N'Reverse Holo')
SET IDENTITY_INSERT [dbo].[Holos] OFF
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Value]) VALUES (1, N'English')
INSERT [dbo].[Languages] ([Id], [Value]) VALUES (2, N'Japanese')
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[Sets] ON 

INSERT [dbo].[Sets] ([Id], [Name], [Language], [Year], [Count]) VALUES (1, N'Base Set', N'English', 1999, 102)
INSERT [dbo].[Sets] ([Id], [Name], [Language], [Year], [Count]) VALUES (2, N'Base Set', N'Japanese', 1996, 102)
SET IDENTITY_INSERT [dbo].[Sets] OFF
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_Cards_Holos] FOREIGN KEY([HoloId])
REFERENCES [dbo].[Holos] ([Id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_Cards_Holos]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_Cards_Sets] FOREIGN KEY([SetId])
REFERENCES [dbo].[Sets] ([Id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_Cards_Sets]
GO
USE [master]
GO
