USE [CCC]
GO
/****** Object:  Table [dbo].[Holos]    Script Date: 5/21/2023 10:13:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Holos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Holos] ON 

INSERT [dbo].[Holos] ([Id], [Value]) VALUES (1, N'Non-Holo')
INSERT [dbo].[Holos] ([Id], [Value]) VALUES (2, N'Holo')
INSERT [dbo].[Holos] ([Id], [Value]) VALUES (3, N'Reverse Holo')
SET IDENTITY_INSERT [dbo].[Holos] OFF
GO
