USE [CCC]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 5/21/2023 7:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SetId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Number] [int] NULL,
	[Rarity] [varchar](50) NULL,
	[Edition] [varchar](50) NULL,
	[ImageURL] [varchar](max) NULL,
	[HoloId] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([Id], [SetId], [Name], [Number], [Rarity], [Edition], [ImageURL], [HoloId]) VALUES (3, 1, N'Magikarp', 35, N'Uncommon', N'1st', N'https://product-images.tcgplayer.com/107032.jpg', 1)
INSERT [dbo].[Cards] ([Id], [SetId], [Name], [Number], [Rarity], [Edition], [ImageURL], [HoloId]) VALUES (4, 1, N'Alakazam', 1, N'Rare', N'1st', N'https://product-images.tcgplayer.com/106996.jpg', 2)
INSERT [dbo].[Cards] ([Id], [SetId], [Name], [Number], [Rarity], [Edition], [ImageURL], [HoloId]) VALUES (5, 1, N'Blastoise', 2, N'Rare', N'1st', N'https://product-images.tcgplayer.com/106997.jpg', 2)
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_Cards_Holos] FOREIGN KEY([HoloId])
REFERENCES [dbo].[Holos] ([Id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_Cards_Holos]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_Cards_Sets] FOREIGN KEY([SetId])
REFERENCES [dbo].[Sets] ([Id])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_Cards_Sets]
GO
