USE [CCC]
GO
/****** Object:  Table [dbo].[Sets]    Script Date: 5/20/2023 11:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Language] [varchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_Sets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sets] ON 

INSERT [dbo].[Sets] ([Id], [Name], [Language], [Year], [Count]) VALUES (1, N'Base Set', N'English', 1999, 102)
INSERT [dbo].[Sets] ([Id], [Name], [Language], [Year], [Count]) VALUES (2, N'Base Set', N'Japanese', 1996, 102)
SET IDENTITY_INSERT [dbo].[Sets] OFF
GO
